<div class="container">
<form action="/search" method="post">
	<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
	<div class="input-field">
		<input type="text" name="url" id="url">
		<label for="url">Enter an URL </label>
	</div>
	<button class="btn waves-effect waves-light center-align black lighten-3" type="submit">Fetch</button>
</form>
<button id="change" class="btn waves-effect waves-light center-align">Change Data</button>
</div>
<div class="container" style="margin-top: 3.5em">
	<div id="sampleChart" style="width: 80%; height:400px; background-color: red; margin: 0 auto"></div>
</div>
<script>
$(document).ready(function(){ 
	$('#change').click(function() {
		var chart = $('#sampleChart').highcharts();
		$.post('/search', function(res) {
			chart.series[0].setData(res);
		}, "json");
	})
})
</script>
